body{
  background-image: url('Stupa_Borobudur.jpg');
  background-attachment: scroll;
  background-size: cover;
}

.justify{
  width: 700px;
  height: 500px;
  border: 2px solid red;
  margin: 0 auto;
  text-align: left;
  color: blue;
  background-image: url('avocado.jpg');
}

.repeat{
  width: 700px;
  height: 300px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url('avocado.jpg');
  background-repeat: repeat-x;
}
